<div class="edit-user-container">
    <h2>Edit User</h2>
    <form (ngSubmit)="updateUser()">
      <div>
        <label for="username">Username:</label>
        <input id="username" [(ngModel)]="user.username" name="username" required />
      </div>
      
      <div>
        <input type="checkbox" [(ngModel)]="editPassword" name="editPassword" />
        <label for="editPassword">Edit Password</label>
      </div>
  
      <div *ngIf="editPassword">
        <label for="password">Password:</label>
        <input id="password" [(ngModel)]="user.password" name="password" type="password" />
      </div>
  
      <button type="submit">Update User</button>
    </form>
  
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  